[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	branch = master
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	branch = develop
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
	branch = master
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
	branch = master
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
	branch = master
[submodule "vim/bundle/ingo-library"]
	path = vim/bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
	branch = master
	ignore = dirty   ;No more untracked...
[submodule "vim/bundle/EnhancedJumps"]
	path = vim/bundle/EnhancedJumps
	url = https://github.com/vim-scripts/EnhancedJumps.git
	branch = master
	ignore = dirty   ;No more untracked...
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/vphilippon/python-mode.git
	branch = develop
